<div>
	<span>Filter: </span><input type="text" id="filter" />

	<div id="itemselector_body" class="row">
		<div class="span4 left">
			<select class="itemselector_firstList" multiple="multiple"></select>
		</div>

		<div class="input span4 center">
			<input class="itemselector_to2_all btn btn-info" type="button" name="to2"  title="assign" value="&raquo" ><br/><br/>			
			<input class="itemselector_to2 btn btn-info" type="button" name="to2"  title="assign" value=">" ><br/><br/>
			<input class="itemselector_to1 btn btn-info" type="button" name="to1" title="unassign" value="<"><br/><br/>
			<input class="itemselector_to1_all btn btn-info" type="button" name="to1" title="unassign" value="&laquo;">				
		</div>

		<div class="span4 rigth">
			<select class="itemselector_secondList span4" multiple="multiple"></select>
		</div>
	</div>
</div>
